CONFIG_IDF_TARGET="esp32s3"
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y
CONFIG_SAFETY_BAND_GPRS_APN="airtel.in"
CONFIG_SAFETY_BAND_HTTP_UPLOAD=y
#CONFIG_SAFETY_BAND_HTTP_URL="http://my-esp32-test.free.beeceptor.com"
CONFIG_SAFETY_BAND_HTTP_URL="http://my-esp32-test.free.beeceptor.com/api/v1/events/normalized"
#CONFIG_SAFETY_BAND_HTTP_URL="http://echo.free.beeceptor.com"
CONFIG_SAFETY_BAND_HTTP_DEVICE_ID="smart_safety_band_001"
CONFIG_SAFETY_BAND_CALL_RECORDING_SECONDS=10
CONFIG_SAFETY_BAND_AUDIO_UPLOAD_CHUNK_BYTES=1024
